// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$primary:#5843be;
// $primary:#695C89;
$secondary:#474056;
$text-color:#111015;
$light-dark-background:#fafafe;
$light-grey:#adadad;
$light-green:#B4C9BA;
$Artisan-red:#AC5C50;
$light-blue:#66BDF0;



