// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Fontawesome
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/brands';

.apartment-wrapper{
  height: 430px;
  margin-top: 50px;
    .card{
      a{
        img{
          width: 400px;
          height: 400px;
          object-fit: cover;
        }
      }
    }
}
.edit-container{
  .row{
      .col-12{
        margin: .3rem 0;
        .servizi{
          height: 42vh;
        }
      }
  }
}
.pagination{
  justify-content: center;
}
.edit{
  .col-4{
    height: 250px;
    .delete{
      top: 1rem;
      right: 1rem;
    }
    i{
      font-size: 1.5rem;

    }
    img{
      height: 100%;
      width: 100%;
    }
  }
  i:hover{
    color: red;
  }
}